.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-image: url(../../../images/image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 30px;
}

@media screen and (max-width: 920px) {
  .profile__avatar {
    margin: 0;
  }
}

.profile__avatar:hover .profile__overlay {
  visibility: visible;
  opacity: 80%;
  transition: all 0.3s linear;
}

.profile__overlay {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #000000;
  opacity: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  visibility: hidden;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}
