.element__delite {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  padding: 0;
  background: none;
  background-image: url(../../../images/bin.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  transition: .3s;
}

.element__delite:hover {
  opacity: .5;
}
